<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="parts/head :: head">
</head>
<body >

    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">

        <div class="form-group m-3 form-inline">
            <label for="inputPassword2"> User name : </label>
            <input type="text" name="username" id="inputPassword2"
                   class="form-control mx-sm-3" aria-describedby="passwordHelpInline"
                   placeholder="Enter your username"/>
        </div>

        <div class="form-group m-3 form-inline">
            <label for="inputPassword6"> Password: </label>
            <input type="password" name="password" id="inputPassword6"
                   class="form-control mx-sm-3" aria-describedby="passwordHelpInline"
                   placeholder="Enter your password"/> </label>
        </div>

        <div>
            <input type="submit" class="btn btn-primary m-3 ml-4" value="Sign In"/>
        </div>

    </form>

    <p class="text-monospace mt-3 ml-5">If you do not have an account, follow the <a href="/authorization" class="text-decoration-none">link</a> </p>

</body>
</html>