<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="parts/head :: head">
</head>
<body >

    <nav class="navbar navbar-dark bg-dark" th:replace="parts/head :: navbar" >
    </nav>

    <a class="btn btn-primary ml-4 my-2" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Add Product
    </a>

    <!--/*@thymesVar id="product" type="webstore.domain.Product"*/-->
    <div class="collapse" id="collapseExample">
        <div class="card card-body">

            <div th:if="*{message}" class="alert alert-danger" role="alert">[[${message}]]</div>

            <form action="#" th:action="@{/hello}" th:object="${product}" method="post">
                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Name of product</label>
                        <input type="text" th:field="*{name}"
                               class="form-control" id="inputEmail4"
                               placeholder="Name of product"/>
                        <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;">Name Error</small>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Cost</label>
                        <input type="text" th:field="*{cost}" value=""
                               class="form-control" id="inputPassword4"
                               placeholder="Enter your cost"/>
                        <small th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}" style="color: red;">Cost Error</small>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputPassword3">Weight</label>
                        <input type="text" th:field="*{weight}" value=""
                               class="form-control" id="inputPassword3"
                               placeholder="Enter your weight"/>
                        <small th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}" style="color: red;">Weight Error</small>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="descriptionInput">Optional</label>
                        <input type="text" th:field="*{description}" value=""
                               class="form-control" id="descriptionInput"
                               placeholder="Enter description (optional)"/>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputGroupSelect03">Select type</label>
                        <select class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon" name="type">
                            <option selected></option>
                            <option value="technicals">technicals</option>
                            <option value="animals">animals</option>
                            <option value="realty">realty</option>
                            <option value="clothes">clothes</option>
                            <option value="other">other</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary m-3 ml-4">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div th:if="${products}" id="productId">
        <div class="card m-4" style="width: 18rem;" th:each="aProduct : ${products}">
            <img src="#" class="card-img-top" alt="img of product">
            <div class="card-body">
                <h5 class="card-title">[[${aProduct.name}]]</h5>
                <p class="card-text">[[${aProduct.description}]]</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cost($) : [[${aProduct.cost}]]</li>
                <li class="list-group-item">Weight(kg) : [[${aProduct.weight}]]</li>
                <li class="list-group-item">Type : <p id="typeOfProduct" th:each="type : ${aProduct.types}">[[${type}]] </p></li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Seller</a>
                <a href="#" class="card-link">To my card</a>
            </div>
        </div>
    </div>

</body>
</html>