<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="parts/head :: head">
</head>
<body>

    <nav class="navbar navbar-dark bg-dark" th:replace="parts/head :: navbar" >
    </nav>

    <div class="card mb-3" id="profileCard" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="#" class="card-img" alt="Profile photo">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">[[${userProfile.username}]]</h5>
                    <p class="card-text">[[${userProfile.username}]] description : </p>
                </div>
            </div>
        </div>

        <a th:if="${user.id == userProfile.id}" class="btn btn-primary" href="/setting" role="button">Setting</a>

    </div>

    <p class="font-weight-bold text-uppercase text-center"> User's list of product: </p>

    <div th:if="${products}" id="productId" th:replace="parts/head :: booksList">
    </div>

</body>
</html>