<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head  th:fragment="head">
    <meta charset="UTF-8">
    <title>Webstore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="http://localhost:8080/static/css/main.css">
</head>
<body>

<!-- NavBar -->

<nav class="navbar navbar-dark bg-dark" th:fragment="navbar">
    <a class="navbar-brand headImg" href="/">
        <img src="http://localhost:8080/static/myImg/wLetter.png" width="30" height="30" class="d-inline-block align-top" alt="">
        ebstore
    </a>

    <a th:if="${user}" href="#" class="navbar-brand">Liked</a>

    <a th:if="${user}" th:href="'/profile/' + ${user.id}" class="navbar-brand">[[${#httpServletRequest.remoteUser}]]</a>

    <form th:if="${user}" th:action="@{/logout}" method="post">
        <input type="submit" class="btn btn-dark" value="Sign Out"/>
    </form>

    <form th:if="${user == null}" th:action="@{/logout}" method="post">
        <input type="submit" class="btn btn-dark" value="Sign In"/>
    </form>
</nav>

<!-- Books list -->

<div th:if="${products}" id="productId" th:fragment="booksList">
    <div class="card m-4" style="width: 18rem;" th:each="aProduct : ${products}">
        <img th:if="${aProduct.filename}"  th:src="'/img/' + ${aProduct.filename}" class="card-img-top" alt="img of product">
        <div class="card-body">
            <h5 class="card-title">[[${aProduct.name}]]</h5>
            <p class="card-text">[[${aProduct.description}]]</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cost($) : [[${aProduct.cost}]]</li>
            <li class="list-group-item">Weight(kg) : [[${aProduct.weight}]]</li>
            <li class="list-group-item">Type : <p id="typeOfProduct" th:each="type : ${aProduct.types}">[[${type}]] </p></li>
        </ul>
        <div class="card-body">
            <a th:href="'/profile/' + ${aProduct.author.id}" class="card-link" th:if="${aProduct.author}">[[${aProduct.author.username}]]</a>
            <a href="#" class="card-link">To my card</a>
        </div>
    </div>
</div>

</body>
</html>